<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Members" value="emailids"  />
    <add key="IterationStartDate" value="2019-07-31"  />
    <add key="IterationEndDate" value="2019-08-20"  />
    <add key="ToEmail" value="toemail@id.com"  />
  </appSettings>
</configuration>